.team-background {
    display: block;
    background-color: white;
    border-radius: 10px;
    width: 55vw;
    height: 55vh;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}

.team-name {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 10vh;
}

.team-id {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 15vh;
}

.team-status {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 20vh;
}

.group-id {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    top: 25vh;
}