.background {
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #8860d0, #5ab9ea, #84ceeb);
}

.user-background {
    display: block;
    width: 60%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    top: 15vh;
    background-color: white;
    border-radius: 50px;
}

.full-name {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    position: relative;
    top: 10vh;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
}

.user-type {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    position: relative;
    top: 20vh;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
}

.user-name {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    position: relative;
    top: 30vh;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
}

.password {
    display: block;
    background-image: linear-gradient(to bottom right, #84ceeb, #c198e4);
    color: white;
    position: relative;
    top: 40vh;
    border-radius: 10px;
    width: 30vw;
    margin-left: 10%;
    font-size: 1.5em;
    font-weight: bold;
}

.password-bttn {
    display: inline-block;
    position: relative;
    top: 36.3vh;
    left: 8.5vw;
}