body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --color-blue: #05386B;
  --color-purple: #A3246B;
  --color-dark-green: #379683;
  --color-green: #5CDB95;
  --color-light-green: #8EE4AF;
  --color-light: #EDF5E1;
}

@font-face {
  font-family: 'Futura Heavy Italic';
  src: url('./fonts/FuturaPTHeavyItalic.otf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('./fonts/FuturaPTBold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Futura Book';
  src: url('./fonts/FuturaPTBook.otf');
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


